In [132]:
import pandas
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression

In [133]:
dataset = pandas.read_csv("Titanic.csv")
initialSize = dataset.shape[0]

dataset.dropna(subset=dataset.columns.difference(['Sex', 'Embarked']), inplace=True)
dataset['Embarked'] = pandas.factorize(dataset['Embarked'])[0]
dataset['Sex'] = pandas.factorize(dataset['Sex'])[0]
dataset.drop(columns=['PassengerId'], inplace=True)

newSize = dataset.shape[0]
print(f'{(1 - newSize / initialSize) * 100:.2f}% of data is lost')

dataset

79.24% of data is lost

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,1
6,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,1
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,1
11,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,1
...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,1,1,11751,52.5542,D35,1
872,0,1,"Carlsson, Mr. Frans Olof",1,33.0,0,0,695,5.0000,B51 B53 B55,1
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,0,1,11767,83.1583,C50,0
887,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,1
889,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,0

In [134]:
datasetFeatures = dataset[dataset.columns.difference(['Survived', 'Name', 'Ticket', 'Cabin'])] # excluded few more columns i think not so important

X_train, X_test, Y_train, Y_test = train_test_split(datasetFeatures, dataset['Survived'], test_size=0.2, random_state=0)
regression = LogisticRegression(random_state=0)
regression.fit(X_train, Y_train)

print("Score:", regression.score(X_test, Y_test))

Score: 0.7567567567567568

In [135]:
datasetFeatures = datasetFeatures[datasetFeatures.columns.difference(['Embarked'])]

X_train, X_test, Y_train, Y_test = train_test_split(datasetFeatures, dataset['Survived'], test_size=0.2, random_state=0)
regression = LogisticRegression(random_state=0)
regression.fit(X_train, Y_train)

print("Score:", regression.score(X_test, Y_test))

Score: 0.7567567567567568

Как можно заметить, влияние признака Embarked на результат достаточно малое